
        body{
            font-family: sans-serif;
            background: lightblue;
            height:600px;
            overflow: hidden;
        }
        h1{
            font-size: 45px;
            text-align: center;
            margin-top: 100px;
            color: black;
            
            
        }
        p{
            font-size: 20px;
            text-align: center;
            margin-top: 10px;
            color: black;
        }
        table{
            margin: 20px auto;
            text-align: center;
        }
        .label{
            font-size: 100px;
            line-height: 100px;
            margin: 5px;
            width: 120px;
        }
        td>button{
            width: 100px;
            padding: 8px;
            border: 1px solid black;
            background-color: rgba(0, 0, 0, 0.192);
            color: black;
            font-size: 20px;
            border-radius: 5px;
        }
   